* {
  padding: 0;
  margin: 0;
}
.Contact {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #383c41;
}
.icons {
  /*  border: 2px solid white; */
  width: 100%;
  display: flex;
  margin-left: 15px;
  list-style: none;
}
.icons li {
  margin: 15px 10px;
}
.email {
  /*  border: 2px solid white; */
  width: 100%;
  height: 70px;
  display: flex;
  margin-left: 200px;
  list-style: none;
}
.email li {
  margin: 20px 10px;
}
.phone {
  /*  border: 2px solid white; */
  width: 100%;
  height: 70px;
  display: flex;
  margin-left: 200px;
  list-style: none;
}
.phone li {
  margin: 20px 10px;
}

.enqborder {
  /*border: 2px solid white; */
  width: 100%;
  margin-left: 400px;
}
.enquiry {
  border: 2px solid rgb(217, 57, 57);
  border-radius: 10px;
  background-color: #fc4045;
  font-weight: 60;
  margin-top: 8px;
  width: 80%;
  height: 60px;
  display: flex;
  list-style: none;
  padding-left: 5px;
}
.enquiry li {
  margin: 5px 10px;
}
.Nav {
  /* border: 5px solid rgb(255, 0, 0); */
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #efcddc;
  /* position: fixed;  */
}
.navLogo {
  /* border: 2px solid black; */
  width: 20%;
  margin: 30px 30px;
  height: 70px;
}
.navBar {
  /* border: 2px solid black; */
  width: 60%;
  height: 50px;
  margin: 30px 20px 30px 200px;
  color: #383c41;
}
.Bars {
  list-style: none;
  display: flex;
  padding: 2px;
}
.Bars li {
  margin: 5px 8px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.Line7 {
  background-color: #efcddc;
  /* margin-top: 100px; */
}
.Heading {
  /*  border: 5px solid red; */
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #efcddc;
}
.H1 {
  /*  border: 2px solid black; */
  width: 50%;
}
.H1 h1 {
  text-align: right;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  color: #383c41;
}

.H2 {
  /*   border: 2px solid black; */
  width: 50%;
}
.H2 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  color: #fc4045;
  margin-left: 5px;
}
.CoursesBar {
  margin-left: 160px;
  /*  border: 5px solid red; */
  width: 82%;
  height: 250px;
  display: flex;
}
.apple {
  border: 2px solid black;
  width: 20%;
  height: 200px;
}
.apple img {
  padding-left: 90px;
  padding-top: 20px;
}
.apple h4 {
  border: 2px solid #fc4045;
  background-color: #fc4045;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}

.flutter {
  border: 2px solid black;
  width: 20%;
  height: 200px;
}
.flutter img {
  padding-left: 90px;
  padding-top: 20px;
}
.flutter h4 {
  border: 2px solid #fc4045;
  background-color: #fc4045;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
.android {
  border: 2px solid black;
  width: 20%;
  height: 200px;
}
.android img{
  padding-left: 90px;
  padding-top: 20px;
}
.android h4{
  border: 2px solid #fc4045;
  background-color: #fc4045;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
.reactNative{
  border: 2px solid black;
  width: 20%;
  height: 200px;
}
.reactNative img{
  padding-left: 90px;
  padding-top: 20px;
}
.reactNative h4{
  border: 2px solid #fc4045;
  background-color: #fc4045;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
.react {
  border: 2px solid black;
  width: 20%;
  height: 200px;
}
.react img{
   padding-left: 90px;
   padding-top: 20px;
}
.react h4{
  border: 2px solid #fc4045;
  background-color: #fc4045;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
.apple,
.flutter,
.android,
.reactNative,
.react {
  margin: 20px 30px;
  border-radius: 20px;
  background-color: #ead8e0;
  border: 2px solid pink;
}

/* CoursesBar1 */

.CoursesBar1{
  margin-left: 160px;
  /* border: 5px solid red; */
  width: 82%;
  height: 250px;
  display: flex;
}
.nodeJS {
  border: 2px solid black;
  width: 20%;
  height: 200px;
}
.nodeJS img{
   padding-left: 90px;
   padding-top: 20px;
}
.nodeJS h4{
  border: 2px solid #fc4045;
  background-color: #fc4045;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
.angularJS {
  border: 2px solid black;
  width: 20%;
  height: 200px;
}
.angularJS img{
   padding-left: 90px;
   padding-top: 20px;
}
.angularJS h4{
  border: 2px solid #fc4045;
  background-color: #fc4045;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
.MernStack {
  border: 2px solid black;
  width: 20%;
  height: 200px;
}
.MernStack img{
   padding-left: 90px;
   padding-top: 20px;
}
.MernStack h4{
  border: 2px solid #fc4045;
  background-color: #fc4045;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
.MeanStack {
  border: 2px solid black;
  width: 20%;
  height: 200px;
}
.MeanStack img{
   padding-left: 90px;
   padding-top: 20px;
}
.MeanStack h4{
  border: 2px solid #fc4045;
  background-color: #fc4045;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
.Python {
  border: 2px solid black;
  width: 20%;
  height: 200px;
}
.Python img{
   padding-left: 90px;
   padding-top: 20px;
}
.Python h4{
  border: 2px solid #fc4045;
  background-color: #fc4045;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}

.nodeJS,
.angularJS,
.MernStack,
.MeanStack,
.Python {
  margin: 20px 30px;
  border-radius: 20px;
}



/* CoursesBar2*/
.CoursesBar2{
  margin-left: 160px;
  border: 5px solid red;
  width: 82%;
  height: 250px;
  display: flex;
}

/* CoursesBar3*/
.CoursesBar3{
  margin-left: 160px;
  border: 5px solid red;
  width: 82%;
  height: 250px;
  display: flex;
}
