*{
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 255, 255);
}

.main {
  margin: auto;
  width: auto;
  height: 100%;
  background: rgb(255, 255, 255);
}

.header {
  padding: 20px;
  display: flex;
  height: 40px;
  background: rgb(255, 255, 255);
}
.Logo {
  margin-left: 50px;
}
.nav {
  /* border: 2px solid black; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
  display: flex;
  
  margin: 10px 400px;
  /*   text-decoration: none; */
}
.nav li {
  margin: 1px 10px;
  list-style: none;
  color: rgb(2, 0, 0);
  
}
.nav a {
  text-decoration: none;
  color: rgb(170, 109, 109);
}

.banner {
  /* border: 4px solid black; */
  display: flex;
  background-color: rgb(42, 92, 187);
  height: 400px;
}
/* .Rider {
   margin-left: 1058px; 
  border: 2px solid black;  
}  */
.adv {
  /* border: 2px solid black; */
  margin-left: 90px;
  margin-top: 60px;
  width: 50%;
  padding: 15px;
}

.Coupons {
  margin-top: 30px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.Explore {
  margin-top: 30px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.Explore div{
  border: 2px dotted black;
  margin-top: 5px;
  margin-left: 60px;
  height: 250px;
  width: 350px;
  text-align: center;
}

.Offers{
  background-color: white;
  /* border: 2px solid black; */
   height: 450px;
   margin-top: 40px;
   display: flex;
   background-color: rgba(209, 211, 219, 0.529);  
}
.Mobile{
/*   margin-left: 350px; */
  /* border: 2px solid black; */
  width: 50%; 
  
}
.Mobile img{
  margin-left: 35%;
}
.Get{
  width: 50%;
  /* border: 2px solid black; */
}
.hoe1{

  margin-top: 15%;
  font-size: 40px;
  font-weight: 3000;
  font-family: Arial, Helvetica, sans-serif;
      color: #98accb;
}
.hoe3{
  font-size: 25px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
      color: #938d8d;
}

